

.menu {
    padding: 20px;
    display: flex;
    justify-content:space-around;
    a {
        padding-left: 25px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: "Poppins";
    }
    .navbar {
        display: flex;
        li {
            list-style: none;
            color: white;
        }
    }
}



