
.main-section{
    width: 100%;
    height: 100vh;
}
.main-section::after {
    content: "";
    position: absolute;
    opacity: 30%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(5px); /* Ajuste o valor conforme necessário */
    background-size: cover;
    background-position: center center;
}
.primary-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 100%;
    height: 80vh;
    margin: 0 auto;
    
    .links {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        svg {
            margin: 10px;
        }
        
    }
}

.primary-section .arrow {
    margin-top: 20px;
    cursor: pointer;
    animation: 0.4s ease 0s infinite alternate none running mov-arrow;
        @keyframes mov-arrow {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(0.2em);
            }
            100% {
                transform: translateY(0.4em);
            }
        }
}

#linkedin:hover {
    fill: #00C2FF;
    transition: .4s;
    #linkedin {
        fill: #00C2FF;
        transition: .4s;
    }
}
#github:hover {
    fill: #00C2FF;
    transition: .2s;
}
#instagram:hover {
    fill: #00C2FF;
    transition: .2s;
    #instagram {
        fill: #00C2FF;
        transition: .2s;
    }
}

.separador {
    width: 100%;
    margin-top: 60px;
}

.second-section {
    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 80%;
    img {
        width: 300px;
    }
}

@media (min-width: 950px) {
    .content {
        .imagem {
            padding-right: 60px;
        }
        img {
            width: 350px;
        }
        .text {
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    
}
@media (max-width: 768px) {
    .second-section {
        height: 150vh;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .content {
        height: 100%;
        .imagem {
            padding-right: 0;
            padding-bottom: 20px;
        }
        img {
            width: 280px;
        }
        .text {
            h1 {
                font-size: 20px;
                margin: 20px 0;
            }
            p {
                font-size: 14px;
            }
        }
    }
}





.text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    h1 {
        text-orientation: initial;
        background-image: linear-gradient(to right, #01FFFF, #00C2FF);
        color: white;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins";
        font-size: 20px;
    }
    p {
        color: rgb(255, 235, 235);
        font-size: 15px;
        font-weight: 400;
        font-family: "Poppins";
    }
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}


